<h1 class="title">Rentrée</h1>
<mat-vertical-stepper>
  <mat-step label="Commencement">
    <h1>Procédure de rentrée 📚</h1>
    <p> Cette petite marche à suivre, va vous guider dans la mise en oeuvre de chaque rentrée. Vous pouvez voir à n'importe quel moment où vous en êtes en cliquant sur chaque étapes.</p>
    <p> Cette procédure prendra environ 30 minutes. </p>
    <div>
      <button mat-button matStepperNext>Je suis prêt🚀</button>
    </div>
  </mat-step>
  <mat-step label="Pointeuses">
    <h1>Configuration du matériel 📺</h1>
    <p>Dans cette étape, nous allons ajouter toutes les pointeuses et les configurer</p>
    <h2>1.1) Installation des pointeuses 📇</h2>
      <p>Pour chaque machine, ouvrez le boitier et connectez-y un clavier et une souris.</p>
      <p>Suivez la procédure <i><b>Installation de la pointeuse</b></i> disponible sous l'onglet mise en route du classeur.</p>
    <h2>1.2) Création des paramètres 💬</h2>
    <p>Créez les <a href="admin/data/holiday">vacances + jours fériés</a> ainsi que les <a href="admin/data/timeplan">horaires</a> pour l'année courante.</p>
    <p>Connectez-vous sur chaque <a href="admin/dashboard">pointeuse</a> en cliquant dessus et choissisez vos paramètres et préférences.</p>
    <div>
      <button mat-button matStepperNext>J'ai terminé cet étape et je passe à la suivante</button>
    </div>
  </mat-step>
  <mat-step label="Stagiaires">
    <h1>Importation des stagiaires 🚶</h1>
    <p>Dans cette étape, nous allons importer <a href="admin/data/student">les stagiaires.</a> Afin de réaliser cette étape correctement, il convient d'utiliser le modèle <i><b>import.csv</b></i> disponible avec la documentation du projet.</p>

    <div>
      <button mat-button matStepperNext>J'ai terminé cet étape et je passe à la suivante</button>
    </div>
  </mat-step>
  <mat-step label="Répartition">
    <h1>Répartition par machine 🔠</h1>
    <p>Sélectionnez où vous voulez placer les stagiaires.</p>
    <div>
      <button mat-button matStepperNext>J'ai terminé cet étape et je passe à la suivante</button>
    </div>
  </mat-step>
  <mat-step label="Finalisation">
    <h1>🌈 Vous êtes paré pour la rentrée 🎩</h1>
  </mat-step>
</mat-vertical-stepper>
