@import '../../../styles.scss';

.dashboard {
 height: 100%;
}

.title {
  margin-top:2em;
}

.machine {
  margin:1em;
  display: block;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
