<div class="dashboard">
  <h1 class="main-title"> Bienvenue {{admin.firstname | titlecase }} {{admin.lastname | titlecase}}</h1>

  <div class="clockingMachines">
    <h2 class="title">Pointeuses</h2>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let cm of clockMachines">
        <div class="machine">
          <a href="{{cm.url+'/teacher/login'}}">
            <img src="assets/pointeuse.png">
          </a>
        </div>
        <mat-grid-tile-footer class="footer">
          <p>{{cm.title}}</p>
          <p>{{cm.createdTime}}</p>
        </mat-grid-tile-footer>

      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
