.pageTitle {
  padding: 20px;
  text-align: center;
  vertical-align: bottom;
  background-color: black;
  font-size: 50px;
}

.infoBody {
  margin-left: 20px;
}

.infoTitle {
  text-align: center;
  font-size: 30px;
  font-style: oblique;
  text-decoration: underline;
}

.infoContent {
  font-size: 20px;
}
