<h1 class="pageTitle"> Timbreuse version 5.0.6</h1>

<div class="infoBody">
  <h1 class="infoTitle">Informations courante</h1>
  <br>
  <p class="infoContent"> Type d'horaire : {{typeSchedule}}</p>
  <p class="infoContent"> Dernière mise à jour : {{dateUpdate}} </p>
  <p class="infoContent"> Dernière Sauvegarde : {{dateBackup}}</p>
</div>

<br>

<div class="infoBody">
  <h1 class="infoTitle"> Auteurs: </h1>
  <br>
  <p class="infoContent">© Olivier D'Ancona & Ryan Quinn, le 31 mars 2020</p>
</div>
