.hist{
  //margin-left: 4px;
  background-color: darkgreen;
}
.form{
  display:flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
}
table {
  width: 100%;
}
