@import '../../../styles.scss';
.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
}

.clock {
  width:40%;
  height:100%;
}

.incident {
  width:60%;
}

table {
  width: 100%;
}
