.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-title {
  font-size: 60px;
  font-weight: 400;
  margin: 2em;
  display:block;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(34,34,34,0.5);
}

.clock {
  background-color: inherit;
  width:40%;
  height:100%;
}

.incident {
  width:60%;
  height:100%;

}

.title {
  margin-top:2em;
}

table {
  width: 100%;
}
