<div class="app">
  <mat-toolbar>
    <mat-toolbar-row class="toolbar">
      <div (click)="drawer.toggle()" class="toolbarGroup">
        <i class="fas fa-bars"></i>
        <p class="toolbarText">Pointeuse V2.0</p>
      </div>
      <div class="toolbarGroup">
        <p class="toolbarText">{{teacher.firstname }} {{teacher.lastname | titlecase}}</p>
        <button class="button is-danger has-text-white" (click)="logUserOut()">
          <i class="fas fa-sign-out-alt"></i>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="app">
    <mat-sidenav mode="side" class="sidenav" #drawer>
        <nav>
          <a class="menu-item" routerLinkActive="active" routerLink="dashboard">Vue Globale</a>
          <a class="menu-item" routerLinkActive="active" routerLink="student">Stagiaires</a>
          <a class="menu-item" routerLinkActive="active" routerLink="hist/log">Historique</a>
          <a class="menu-item" routerLinkActive="active" routerLink="setting">Paramètres</a>
          <a class="menu-item" routerLinkActive="active" routerLink="info">Infos</a>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
