.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 14px;
  background-color: green;
}

.app{
  height: 100%;
  background-color: transparent;

  .sidenav {
    background-color: black;
  }

  .content {
    background-color: transparent;
  }
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding:  50px;
  font-size: 3em;

  width:100%;
  color: white;
  margin-bottom: 5px;
}

.toolbarAction {
  width: 13%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 1em;
}
