@import '../../../styles.scss';

.app {
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

.sidenav {
  background-color: $prussianBlue;
  height: 100%;
}

.content {
  height: 100%;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding:  50px;
  font-size: 3em;

  width:100%;
  color: white;
  margin-bottom: 5px;
}

.toolbarGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 1em;
}
