@import '../../../styles.scss';

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  margin: auto;
  color: white;
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 70%;
}

.students {
  margin-bottom: 5em;
}
.student {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: $steelTeal;
  margin: 0.4em;
  padding: 1px;
  padding-right: 8px;
  padding-left: 2px;
}

.student-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 80%;
  margin: 0.1em;
  font-size: 2em;
}

.icons {
  margin-left: 1em;
  margin-right: 1em;
  width: 5em;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  .p{
    color: PaleGreen;
  }
  .np{
    color: PeachPuff;
  }
}

.name {
  width: 35%;
}
.time {
  width: 20%;
}
.week {
  width: 20%;
}
.hash {
  width: 20%;
}
.selectButton {
  width: 20px;
  height: 20px;
}

.checkbox {
   margin: inherit;
   pointer-events: none
}

.search {
  align-self: right;
  margin: 4%;
}

.clear {
  background-color: inherit;
  border: none;
  font-size: 25px;
}

.performedTime {
  font-size: 20px;
  font-weight: bold;
}

.negativeTime {
  color: tomato;
}

.positiveTime {
  color: YellowGreen;
}
