.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  margin: auto;
}

.student {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #778899;
  margin: 4px;
  padding: 1px;
  padding-right: 8px;
  padding-left: 2px;
}

.student-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 70%;
}

.icons {
  margin-left: 1em;
  width: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  .p{
    color: PaleGreen;
  }
  .np{
    color: PeachPuff;
  }
}

.name {
  width:35%;
}
.time {
  width:20%;
}
.week {
  width:20%;
}
.hash {
  width: 10%;
}
.selectButton {
  width: 20px;
  height: 20px;
}

.checkbox {
   margin: inherit;
}

.search {
  align-self: right;
  margin: 4%;
}

.clear {
  background-color: inherit;
  border: none;
  font-size: 25px;
}

.performedTime {
  font-size: 20px;
  font-weight: bold;
}

.negativeTime {
  color: tomato;
}

.positiveTime {
  color: YellowGreen;
}
