@import '../../../styles.scss';

.slider {
  width:100%;
}

.box {
  background-color: $steelTeal;
}

.tester {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.dangerButton {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  margin: 1em;
}

.sound {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
