.login-box {
  padding: 25px;
  background: white;
  border-radius:5px;
}

.error {
  padding: 7px;
  color: white;
  background-color: red;
  border-radius:5px;
  height: 40px;
  width: auto;
  font-size: 80%;
  text-align: left;
  text-align: bottom;
  vertical-align: middle;
}

.login-button {

}

.field {

}
