/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

$floralWhite: #FFFCF2;
$paleSilver: #CCC5B9;
$blackOlive: #403D39;
$eerieBlack: #252422;
$flame: #EA591F;


$family-sans-serif: "Nunito", sans-serif;
$primary: red;
$link: red;


html {
  background: linear-gradient(to top left, $paleSilver, $floralWhite);
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  height: 100%;
  width: 100%;
 }

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to top right, $flame, $blackOlive );
}

.modal {
  min-height: 200px;
  max-width: 60%;
  background: white;
  border-radius: 5px;
  padding: 35;
}

.mainTitle {
  color: $eerieBlack;
  font-size: 60px;
  font-weight: 400;
  margin: 1em;
  display:block;
  text-align: center;
  text-shadow: 1px 1px 2px $blackOlive;
}

.title {
  color: $blackOlive;
  font-family: 'Lato';
  font-size: 36px;
  letter-spacing: 2px;
  text-align: center;
  margin: 1em;
  text-shadow: 1px 1px 2px $paleSilver;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $flame;
}

.toolbarText {
  color: $floralWhite;
  font-family: Roboto;
  text-align: center;
  letter-spacing: 2px;
  margin: 1em;
}

a {
  color: $floralWhite;
}
