<mat-toolbar class="toolbar">
  <div>
    <label> Répartition rapide </label>
    <button class="button is-info" (click)="randomMachine(clockMachines)">Random</button>
  </div>
  <mat-form-field class="search">
    <input type="text" placeholder="Trouver un stagiaire" matInput [formControl]="interaction" [matAutocomplete]="auto" >
    <button class="clear has-text-white" mat-button mat-icon-button matSuffix (click)="clearSearchField()" *ngIf="searchField">×</button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-dialog-close class="button is-success" (click)="allotStudent()">Valider</button>
</mat-toolbar>

<h2 class="myTitle">Stagiaires</h2>
<div class="pool">
  <ng-container *ngFor="let s of shownStudents">
    <div class="poolStudent">
      <h1 class="name">{{s.firstname}} {{s.lastname}}</h1>
      <div class="buttons has-addons action">
        <button class="button is-link" *ngFor="let cm of clockMachines" (click)="s.clockMachine=cm._id">{{cm.title}}</button>
      </div>
    </div>
  </ng-container>
</div>

<mat-divider></mat-divider>

<h2 class="myTitle">Machines disponibles</h2>
<div class="allot">
  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
      <div class="tile is-info notification is-vertical" *ngFor="let cm of clockMachines">
        <div class="tile is-child box">
          <p class="title">{{cm.title}}</p>
        </div>
        <div class="machineStudent">
          <div class="student" *ngFor="let s of students">
            <h1 *ngIf="s.clockMachine==cm._id">{{s.firstname}} {{s.lastname}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
