@import '../../../styles.scss';

.modal {
  position: relative;
}
.toolbar {
  color: $eerieBlack;
  height: auto;
  margin: auto;
}

.poolStudent {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  margin-right: 2em;
}

.name {
  width: 50%;
}

.action {
  width: 30%;
}

.pool {
  display: flex;
  flex-direction: column;
  height: 200px;
  overflow: auto;
}

.title {
  text-align:left;
}
.allot {
  display: flex;
  flex-direction: column;
}

.machineStudent {
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  overflow: auto;
}

.student {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.clockmachine {
  background-color: $blackOlive;
}

.link {
  background-color: $flame;
  color: $floralWhite;
}

.random {
  background-color: $paleSilver;
  color: $eerieBlack;
}
