.timeChoice{
  color: black;
  font-size: 30px;
  font-weight: bold;
  background-color: inherit;
  border-radius: 5px;
  border-style: none;
}

.timeChoiceBody{
  background-color: inherit;
  margin: auto;
  margin-left: 37px;
  text-align: center;
  border-color: inherit;
}
