@import '../../../styles.scss';

.app {
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}
.sidenav {
  background-color: $eerieBlack;
  color: $floralWhite;
  height: 100%;
}

.content {
  height: 100%;
}


.menu-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding:  50px;
  font-size: 3em;

  width:100%;
  color: $floralWhite;
  margin-bottom: 5px;
}

.toolbarAction {
  margin: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.toolbarText {
  color: $eerieBlack;
}
