<mat-toolbar>
  <mat-toolbar-row class="toolbar">
    <h1>Admin</h1>
    <div class="toolbarAction">
      <p>{{admin.firstname | titlecase }} {{admin.lastname | titlecase}}</p>
      <button class="button is-danger has-text-white" (click)="logAdminOut()">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="app">
  <mat-drawer mode="side" opened  class="sidenav" >
    <nav>
      <a class="menu-item" routerLinkActive="active" routerLink="dashboard">Vue Globale</a>
      <a class="menu-item" routerLinkActive="active" routerLink="start">Rentrée</a>
      <a class="menu-item" routerLinkActive="active" routerLink="data/student">Données</a>
      <a class="menu-item" routerLinkActive="active" routerLink="backup">Sauvegardes</a>
      <a class="menu-item" routerLinkActive="active" routerLink="info">Infos</a>
    </nav>
  </mat-drawer>
  <mat-drawer-content >
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
